include AUTHORS
include HACKING
include INSTALL
include LICENSE
include Makefile
include MANIFEST.in
include README.rst
recursive-include doc *
recursive-include tests *
recursive-include endless_pagination/static *
recursive-include endless_pagination/locale *
recursive-include endless_pagination/templates *
